.div-one {
    height: 200px;
    width: 300px;
    border: 1px solid grey;
}



.btn{
    background-color: slateblue;
    color: snow;
    height: 30px;
    width: 90px;
}

/* 
.class-one{
    height: 300px;
    width: 300px;
    background-color: red;
    border-radius: 150px;
    border: 2px solid;
    margin-top: 50px;
}

.class-two{
    height: 150px;
    width: 150px;
    background-color: grey;
    border-radius: 100px;
    border: 2px solid;
} */